[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
markdown2 = "*"
dateparser = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
ipython = "*"
black = "==23.1.0"
twine = "*"
pytest = "*"

[requires]
python_version = "3.10"
