[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
dateparser = "*"
datasets = "==2.19.1"
scikit-learn = "==1.2.1"
sentencepiece = "==0.2.0"
transformers = {extras = ["torch"], version = "==4.40.2"}
torch = "==2.3.0"
shub-workflow = "*"
pillow = "*"
einops = "==0.8.0"
torchvision = "==0.18.0"

[dev-packages]
flake8 = "*"
mypy = ">=1.4.1"
ipython = "*"
black = "==23.1.0"
twine = "*"
pytest = "*"
flake8-import-order = "*"

[requires]
python_version = "3.10"
