[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
dateparser = "*"
datasets = "*"
scikit-learn = "==1.2.1"
sentencepiece = "*"
transformers = "*"
torch = "*"

[dev-packages]
flake8 = "*"
mypy = ">=1.4.1"
ipython = "*"
black = "==23.1.0"
twine = "*"
pytest = "*"
flake8-import-order = "*"

[requires]
python_version = "3.10"
